In [212]:
# Import Libraries 

import pandas as pd
import plotly.express as pe

# Import Data from Google Sheets 

df_full_country_list= pd.read_csv("https://docs.google.com/spreadsheets/d/1BJYCRpalLJLO5wHX488KBdcf-26NAc0nTkngKodzUYA/export?format=csv&gid=1813479683")

df_full_country_list

       Country Name                        Indicator Name  Year   Value
0     United States              National savings (% GDP)  1980  22.059
1     United States               Unemployment levels (%)  1980   7.175
2     United States                   Inflation (CPI, %))  1980  86.750
3           Germany               Unemployment levels (%)  1980   3.359
4           Germany                   Inflation (CPI, %))  1980     NaN
...             ...                                   ...   ...     ...
3598          Ghana  Birth rate, crude (per 1,000 people)  2024     NaN
3599          Japan  Birth rate, crude (per 1,000 people)  2024     NaN
3600         Poland  Birth rate, crude (per 1,000 people)  2024     NaN
3601  United States  Birth rate, crude (per 1,000 people)  2024     NaN
3602   South Africa  Birth rate, crude (per 1,000 people)  2024     NaN

[3603 rows x 4 columns]

In [221]:
# Assess Data Quality and Trends through Descriptive Statistics

df_gdp=df_full_country_list[df_full_country_list["Indicator Name"] == "GDP"]

fig=px.line(df_gdp, x="Year", y="Value", title ="GDP per Country (1980-2024)")

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed